table {
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #cccccc;
}
th {
	background-color: #e6e6e6;
	/*text-align: center;*/
}
th, td {
	padding: 6px;
	/*text-align: left;*/
	/*border-bottom: 1px solid #ddd;*/
}
td {text-align: left}
.striped tr:nth-child(odd) {background-color: #e6e6e6} /*#f2f2f2}*/
.striped4 tr:nth-child(8n-7) {background-color: #e6e6e6}
.striped4 tr:nth-child(8n-6) {background-color: #e6e6e6}
.striped4 tr:nth-child(8n-5) {background-color: #e6e6e6}
.striped4 tr:nth-child(8n-4) {background-color: #e6e6e6}

.noBorder {
	padding: 0;
	padding-right: 6px;
	border-spacing: 0;
	border-collapse: collapse;
	border: 0;
}
.tsource:hover .ttip {
    display: block;
}

.ttip {
    display: none;
    background: #C8C8C8;
    margin-left: 14px;
    padding: 6px;
    position: absolute;
}

.shadow5 {
	font-size:18px;
	text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black;
}

markHS {
	background-color: #9CF051;
	color: black;
}

markRubies {
	background-color: #F59595;
	color: black;
}

markGold {
	background-color: yellow;
	color: black;
}

markSkills {
	background-color: orange;
	color: black;
}

markRelics {
	background-color: #BDB6FA;
	color: black;
}